@import url(normalize.css);
@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: "Barlow", sans-serif;
  background-color: #f4f4f4;
}

h1,
h2,
h3,
h4,
h5,
p,
a {
  margin-top: 0;
}

h1 {
  margin-top: 0;
  font-size: 3rem;
}
.heading {
  text-transform: uppercase;
}
h2,
h3 {
  font-weight: bold;
  color: black;
  margin-bottom: 1.5rem;
}

h2 {
  font-size: 2rem;
}

a {
  color: white;
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  color: #e15c47;
}

p,
ul,
ol {
  font-size: 1rem;
}

/*
p {
  width: clamp(40%, 75ch, 100%);
}--
*/

img {
  height: auto;
  max-width: 100%;
}

figure {
  margin: 0;
}

/* ------ Main Content -------*/

/* Structural containers */

.header-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: #1c3052;
}

.outer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 1rem;
}

.inner-container {
  margin-top: 1rem;
  width: 80%;
}

/* End of Structural containers */

main {
  margin: 0 auto;
}

main section {
  background-color: white;
  padding: 1rem;
}

/* --------- Grid Content ----------- */

.full-columns {
  grid-column: 1/5;
}

.half-columns {
  grid-column: auto / span 2;
}

/* -----------  Hero Styles------------ */

.hero {
  margin-bottom: 1rem;
  width: 100%;
  height: 80vh;
  background: url(../img/contact-us-banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: flex-end;
}

.hero-text {
  color: white;
  /* max-width: 100rem; */
  padding: 0.5rem;
  padding-right: 5rem;
}

.hero-text h2 {
  color: white;
}
/* --------------- Header and Nav Styles -------- */

.logo {
  max-width: 4rem;
  margin: 0.5rem 2rem;
}

nav {
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: #1c3052;
}

nav a {
  display: inline-block;
  color: white;
  font-size: 1.25rem;
  text-decoration: none;
  padding: 0.5em 0.45em;
  margin: 0;
  flex: 1 1 auto;
}

nav a:hover {
  color: #e15c47;
  text-decoration: none;
}

/* Style the search box inside the navigation bar */
.topnav input[type="text"] {
  float: right;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
}

/*--Volunteer section--*/

.image-background-section {
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
  width: 100%;
  min-height: 80vh;
  background: url(../img/volunteer.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  justify-content: flex-start;
}

.right-section {
  justify-content: flex-end;
}
.text-overlap {
  display: flex;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.7);
  padding: 2rem;
  width: 40%;
  margin-top: 20rem;
  margin-right: 5rem;
  margin-bottom: 20rem;
  margin-left: 5rem;
}
.section-heading {
  font-size: 3rem;
}
.medium-text {
  font-size: 1.5rem;
  line-height: 1.4;
}

/* Contact Us*/

.outer-container-01 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-right: 5rem;
  margin-bottom: 1rem;
  background-color: #9fbec3;
}
.inner-container-01 {
  margin-top: 1rem;
  width: 80%;
}

.cards {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  padding: 0;
  width: 66.666%;
}

.container {
  max-width: 510px;
  min-width: 324px;
  margin-top: 0rem;
  margin-bottom: 0px;
  border: 1px;
  border-color: grey;
}

.section-heading-01 {
  font-size: 3rem;
  margin-bottom: 0rem;
  color: #1c3052;
}

.row-header {
  display: flex;
  flex-direction:column;
  padding: 1rem;
  padding-bottom: 0rem;
  width:100%;
  margin-top: 1rem;
  margin-right: 1rem;
  margin-bottom: 0rem;
  margin-left: 1.5rem;
  color: white;
}

.body {
  padding: 0.5em 2.5em 1em;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

input {
  margin: 0 0 0.5em 0;
  border: 1px solid grey;
  padding: 10px 25px;
  color:#1c3052;
  background-color: #ccdfdf;
  font-size: small;
  border-radius: 0.5rem;
}

.btn-submit{
  text-transform: uppercase;
  color:white;
  background-color: #1c3052;
  font-size: small;
  font-weight: bold;
  margin-top: 1rem;

}

.btn-submit:hover {
  color: #e15c47;
  background: rgba(255, 255, 255, 0.8);
}

textarea {
  border: 1px solid grey;
  padding: 6px 10px;
  width: 100%;
  background-color: #ccdfdf;
  border-radius: 0.5rem;
}
small {
  color: #1c3052;
  margin: 0 0 0 0.5em;
}

.address-box {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  width: 40%;
  margin-top: 5rem;
  margin-right: 5rem;
  margin-bottom: 5rem;
  margin-left: 5rem;
}


/* ------------ Footer Style --------------- */
footer {
  display: flex;
  justify-content: space-around;
  background-color: #1c3052;
  margin-top: 1rem;
  color: white;
  min-height: 20vh;
}

.footer-container {
  display: flex;
  flex-direction: row;
}

.nav-logo {
  width: 15%;
}
.address {
  width: 50%;
}
.footer-nav {
  width: 35%;
  flex: 1;
}
.footer-headline {
  color: white;
  font-weight: bold;
}

.footer-list {
  color:white;
  list-style: none;
  padding: 0rem;
  margin: 0;
}
.about.html{
  color: white;
}
.nav-level-1 {
color:white; 
}

ul {
  list-style-type: none;
  color: white;
}
ul {
  list-style-type: none;
  color: white;
  margin: 0;
  padding: 0;
}

@media (max-width: 49em) {
  .half-columns {
    grid-column: auto / span 4;
  }
}

@media (max-width: 500px) {
  .hero-text {
    width: auto;
    margin-left: 0;
  }
}
